# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
!media/advisors/
staticfiles/

# Environment variables
.env

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Logs and debug output
logs/

# Data dumps
data/
